<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="Movies dashboard" />
        <meta charset="utf-8">
        <title>Movies dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
        {% block styles %}{% endblock %}
    </head>

    <body>
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>
